<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chessland.model.dao.mappers.UserMapper">

	<resultMap type="User" id="UserRM">
		<id column="id" property="id" />
		<result column="email" property="email" />
		<result column="name" property="name" />
		<result column="surname" property="surname" />
		<result column="imgUrl" property="imgUrl" />
		<result column="locale" property="locale" />
	</resultMap>

	<select id="getAll" resultMap="UserRM">
		SELECT * FROM User
	</select>
	<select id="checkUser" resultType="User">
		SELECT * FROM User WHERE email = #{email};
	</select>

	<insert id="insertUser" parameterType="User">
		INSERT INTO User
		(`email`,`name`,`surname`,`imgUrl`,`locale`)
		VALUES
		(#{email},#{name},#{surname},#{imgUrl},#{locale});
	</insert>

	<update id="changeImg">
		UPDATE User SET imgUrl = #{img} WHERE email = #{email}
	</update>

</mapper>